<label>User</label>
<input type="text" placeholder="Enter git user" #username />

<label>Repo</label>
<input type="text" placeholder="Enter repo name" #repo />


<label>Event</label>
<input type="text" placeholder="Enter event type" #event />

<button (click)="getEvents(username.value, repo.value, event.value)">Submit</button>

<table>
  <th>User</th>
  <th>Repository</th>
  <th>Event Type</th>
  <tr *ngFor = "let row of data">
    <td>{{row.actor.display_login}}</td>
    <td>{{row.repo.name}}</td>
    <td>{{row.type}}</td>
  </tr>
</table>
